---
const {post, id, slug} = Astro.props;
console.log(post)
---
<div class="flex flex-col border-t-4 border-t-slate-500 mt-3">
    <a href={`/posts/${id}/`} class="underline text-2xl font-bold mt-1">{post.title || slug}</a>
    <div class="font-bree">
        Released at: {post.date.toLocaleString()}
    </div>
    <div>
        {post.tags && post.tags.map((tag) => (
                <a href={`/tags/${tag}/`}
                   class="underline px-1 font-wenkai"
                >{tag}</a>
        ))}
    </div>
    <div>
        <em class="font-[Times] font-noto-serif-sc font-noto-serif-tc">{post.description}</em>
    </div>
</div>
