---
import BaseLayout from './BaseLayout.astro';
const {frontMatter} = Astro.props;
---
<BaseLayout pageTitle={frontMatter.title}>
    <h1 class="text-2xl font-bold">{frontMatter.title}</h1>
    <p>Published at: {frontMatter.pubDate.toLocaleString()}</p>
    <p>Description: <em>{frontMatter.description}</em></p>
    <p>Written by: {frontMatter.author}</p>
    <img src={frontMatter.image.url} width="400" alt={frontMatter.image.alt}/>
    <div class="tags mt-1">
        {frontMatter.tags.map((tag: string) => (
                <a
                        href={`/tags/${tag}`}
                        class="tag"
                >
                    {tag}
                </a>
        ))}
    </div>

    <div class="markdown">
        <slot/>
    </div>
</BaseLayout>
