---
import BaseLayout from './BaseLayout.astro';
const {frontMatter} = Astro.props;
---
<BaseLayout pageTitle={frontMatter.title}>
    <h1 class="text-2xl font-bold">{frontMatter.title}</h1>
    <div>Published at: {frontMatter.pubDate.toLocaleString()}</div>
    <div>Description: <em>{frontMatter.description}</em></div>
    <div>Written by: {frontMatter.author}</div>
    <div class="tags">
        Tags: {frontMatter.tags.map((tag: string) => (
            <a
                    href={`/tags/${tag}`}
                    class="tag"
            >
                {tag}
            </a>
    ))}
    </div>
    <img src={frontMatter.image.url} width="400" alt={frontMatter.image.alt}/>
    <div class="markdown">
        <slot/>
    </div>
</BaseLayout>
